.content-footer{
    background-color: #f9dac5;
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1rem;
}
*, :after, :before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content-footer svg, .content-footer p{
    padding: 0.5em;
    color: #5e5278
}
.icon-contact {
    font-size: 2.5vh;
}
.content-footer p {
    line-height: 15px;
}
