main {
    padding: 0;
    margin: 0;
}
.about-section {
    background-color: #333333;
    min-height: 80vh;
    width: 100%;
    font-size: x-large;
    background-color: #87b1ac;
    padding-top: 3em;
}
.about-section h2, .about-section p {
    color: #19184d;
}
.about-section h2 {
    font-size: 10vh;
    text-align: center;
    width: 100%;
    padding-bottom: 2vh;
}
.about-section p {
    padding: 6vh;
}
.profile{
    display: flex;

}
.profile-picture img {
    width: 30vh;
    height: 30vh;
    position: relative;
    top: 10vh;
    border: 3px solid black;
    border-radius: 45%;
}
.profile-picture{
    text-align: center;
    align-items: start;
    padding: 6vh;
}





.skills-section{
    background-color: #c7d8c6;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3em;
}

.skills-content li {
    color: #ff5035;
    display: inline-block;
    padding: 0px;
    margin: 10vh;
    font-weight: 600;
    font-size: xx-large;
}
.skills-content h2 {
    color: #ff5035;
    font-size: 10vh;
}



.project-section {
    background-color: #f2c4b8;
    padding-top: 3em;
    padding-bottom: 3em;
}
.project-section h2 {
    color: #1b227d;
    font-size: 10vh;
    text-align: center;
    padding-bottom: 6vh;
}
.cards {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 3em;
    flex-wrap: wrap;
    padding-left: 3em;
    padding-right: 3em;
    width: 100%;
    gap: 3em;
}
.card{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    width: 20%;
    flex-wrap: wrap;
    display: flex;
}
.info{
    display: flex;
    padding: 2rem;
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #1b227d;
}
.title{
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    margin: 20px;
}
.description{
    bottom: 0;
    padding: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #1b227d;
}
