main {
    padding: 0;
    margin: 0;
}
.about-section {
    background-color: #333333;
    min-height: 80vh;
    width: 100%;
    font-size: x-large;
    background-color: #87b1ac;
    padding-top: 3em;
}
.about-section h2, .about-section p {
    color: #19184d;
}
.about-section h2 {
    font-size: 10vh;
    text-align: center;
    width: 100%;
    padding-bottom: 2vh;
}
.about-section p {
    padding: 6vh;
}
.profile{
    display: flex;

}
.profile-picture img {
    width: 30vh;
    height: 30vh;
    position: relative;
    top: 10vh;
    border: 3px solid black;
    border-radius: 45%;
}
.profile-picture{
    text-align: center;
    align-items: start;
    padding: 6vh;
}





.skills-section{
    background-color: #c7d8c6;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3em;
}

.skills-content li {
    color: #ff5035;
    display: inline-block;
    padding: 0px;
    margin: 10vh;
    font-weight: 600;
    font-size: xx-large;
}
.skills-content h2 {
    color: #ff5035;
    font-size: 10vh;
}



.project-section {
    background-color: #f2c4b8;
    height: 80vh;
    padding-top: 3em;
}
.project-section h2 {
    color: #1b227d;
    font-size: 10vh;
    text-align: center;
    padding-bottom: 6vh;
}



