main {
    padding: 0;
    margin: 0;
}
.about-section {
    background-color: #333333;
    min-height: 80vh;
    width: 100%;
    display: flex;
    font-size: x-large;
    padding: 100px;
    gap: 10vh;
    background-color: #87b1ac;
}
.about-section h2, .about-section p {
    color: #19184d;
}
.profile-picture img {
    width: 20vh;
    height: 20vh;
    position: relative;
    top: 20vh;
    border: 3px solid black;
    border-radius: 45%;
}




.skills-section{
    background-color: #c7d8c6;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;  
}

.skills-content li {
    color: #ff5035;
    display: inline-block;
    padding: 0px;
    margin: 10vh;
    font-weight: 600;
}
.fa-brands {
    font-size: xx-large;
}

.skills-content li{
    padding: 10px;
}
.project-section {
    background-color: #f2c4b8;
    height: 80vh;
}




.project-section h2 {
    color: #1b227d;
}